<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="dbConnection" class="com.env.jobportalbackend.config.database.DBConnection">
        <constructor-arg index="0" value="jdbc:h2:mem:test"/>
        <constructor-arg index="1" value=""/>
        <constructor-arg index="2" value=""/>
    </bean>

</beans>

