<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean name="refObjectName" class="Claas path from source root">-->
<!--        <constructor-arg index="0" value="fistArgument"/>-->
<!--        <constructor-arg index="1" value="secondArgument"/>-->
<!--        <constructor-arg index="2" value="thirdArgument"/>-->
<!--    </bean>-->

</beans>

